.title.header {
	float: left;
}
.title.subheader {
	float: right;
}
.contentwrapper {
	margin-left: 10px;
	margin-right: 10px;
}
.mapcontainer {
	height: 500px;
}
.row {
	margin-right: 10px;
	margin-left: 10px;
}
/*
.search {
	padding-right: 5px;
	padding-left: 5px;
}
li.has-button {
	padding-right: 5px;
	padding-left: 5px;
}
*/