<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Simple Template</title>
	<link rel="stylesheet" href="css/simple-style.css">
	<link rel="stylesheet" href="http://arcgisjs.azurewebsites.net/esri/3.6compact/js/esri/css/esri.css">
	<!--script src="js/vendor/custom.modernizr.js"></script-->
</head>

<body>
<!-- http://localhost:3000/simple?webmap=a30160193b1f4922be09d62940f65696 -->
	<div id="mapcontainer"></div>

	<script>
	document.write('<script src=' +
		('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
		'.js><\/script>')
	</script>

	<script src="http://arcgisjs.azurewebsites.net/esri/3.6compact.js"></script>
	<script src="js/webmap.js"></script>
</body>

</html>